{% extends "./layouts/base.html" %}

{% load static %}

{% block title %}
    About me
{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block body %}
    <div class="home">
        <section>
            <h1 class="home__title">Cristian <br /> Olaya Marquez</h1>
            <p class="home__legend">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla magni cum, fugit ipsa modi totam aliquid perferendis beatae dignissimos non autem a, quia rerum dolore id voluptatibus, voluptate quis ipsam.</p>
            <div class="home__social">
                <ul>
                    <li>L</li>
                    <li>@</li>
                    <li>G</li>
                </ul>
            </div>
        </section>
        <section class="home__portrait">
            <img src="{% static 'img/fat_ed.png' %}" alt="Picture of myself."/>
        </section>
    </div>
{% endblock body%}
